:root {
  --sizer: 50px;
}

.top-panel {
  position: sticky;
  color: white;
  padding: 25px;
  border: solid 4px black;
}
.form-control {
  width: 1%;
  height: 5px;
  display: flex;
}

div.gallery img {
  width: var(--sizer);
  height: auto;
}
