:root {
  --sizer: 50px;
}

.top-panel {
  position: sticky;
  color: white;
  padding: 20px;
  border: solid 3px black;
}
.form-control {
  width: 10%;
  display: inline-flex;
}
button {
  margin-left: 10px;
}

div.gallery img {
  width: var(--sizer);
  height: auto;
}
